<h1>Import your CSV</h1>
<section>
  <%= link_to "Import building CSV", { :controller => :building, :action => :send_line } %><br />
  <%= link_to "Import people CSV", { :controller => :person, :action => :send_line } %>
</section>
